<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Student List</strong>
                    </div>
                    <div class="card-body card-block">
                        <form action="/dashboard/students/" method="POST" class="form-horizontal">

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="fullName" class=" form-control-label">Full
                                        Name</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="fullName" name="fullName"
                                        class="form-control"></div>
                            </div>



                            <div class="row form-group">
                                <div class="col col-md-3"><label for="select" class=" form-control-label">Source of
                                        Information</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select name="sourceOfInformation" id="sourceOfInformation" class="form-control">
                                        <option value="Acquaintance">Acquaintance</option>
                                        <option value="Casual">Casual</option>
                                        <option value="Facebook">Facebook</option>
                                        <option value="Instagram">Instagram</option>
                                        <option value="Telegram">Telegram</option>
                                        <option value="Tiktok">Tiktok</option>
                                        <option value="Website">Website</option>
                                    </select>
                                </div>
                            </div>



                            <div class="row form-group">
                                <div class="col col-md-3"><label for="subject"
                                        class=" form-control-label">Subject</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select name="subject" id="subject" class="form-control">
                                        <option value="English">English</option>
                                        <option value="Math">Math</option>
                                        <option value="Russian">Russian</option>
                                    </select>
                                </div>
                            </div>



                            <div class="row form-group">
                                <div class="col col-md-3"><label for="probableTime" class=" form-control-label">Probable
                                        Time</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="probableTime" name="probableTime"
                                        class="form-control"></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="phone" class=" form-control-label">Phone</label>
                                </div>
                                <div class="col-12 col-md-9"><input type="text" id="phone" name="phone"
                                        class="form-control"></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="subject"
                                        class=" form-control-label">Status</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select name="status" id="status" class="form-control">
                                        <option value="Waiting">waiting</option>
                                        <option value="Accepted">Accepted</option>
                                        <option value="Rejected">Rejected</option>
                                    </select>
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col col-md-3"><label for="subject"
                                        class=" form-control-label">Group</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select name="group" id="group" class="form-control">
                                        <% groups.forEach(group=> {%>
                                            <option value="<%= group._id %>">
                                                <%= group.name %>
                                            </option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>


                            <div class="float-right"><button class="btn btn-success" type="submit"><i
                                        class="menu-icon fa  fa-plus"></i>
                                    Add</button> </div>

                        </form>

                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div>